/* =====> General <===== */
body {
    background: url("../img/global/background.png") center center no-repeat fixed;
    background-size: cover;
    position: relative;
    padding-top: 100px;
}

.routes {
    background-image: url("../img/global/labyrinthe-dossiers.png");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    margin-top: -25px;
    padding: 25px;
}
@media (max-width: 1110px) {
    .routes {
        background: none;
    }
}
@media (min-width: 1100px) and (max-width: 1640px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (min-width: 1200px) and (max-width: 1295px) {
    .container {
        padding-right: 15%;
    }

    .content-div p  {
        text-shadow: 1px 1px 0px black;
    }
}
@media (min-width: 1640px){
    .container {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@font-face {
    font-family: 'Circula-Medium';
    src: url('../fonts/circula-medium.otf');
}

@font-face {
    font-family: 'Dokyo';
    src: url('../fonts/Dokyo.ttf');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue.otf');
}

.font-circula {
    font-family: 'Circula-Medium', sans-serif;
}

.font-dokyo {
    font-family: 'Dokyo', sans-serif;
}

.font-bebas {
    font-family: 'Bebas', regular;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content-div {
    background-color: transparent;
    color: white;
}

.hr {
    border: 2.5px solid rgba(237, 122, 33, 1);
}

.hr-min {
    border: 2.5px solid rgba(237, 122, 33, 1);
    width: 80%;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.hr-small {
    border: 2.5px solid rgba(237, 122, 33, 1);
    width: 50%;
}

.separator-title {
        font-size: 7.5vw;
        color: white;
}


.title {
    color: white;
}

.separator-div {
    padding: 5%;
}

.thumbnail-div {
    background-color: transparent;
    border: none;
    margin-bottom: 20%;
}

.thumbnail-title {
    color: white;
}

.turquoise {
    color: #2baf97;
}

.orange {
    color: #ed7a21;
}

.white {
    color: white;
}

.bold {
    font-weight: bold;
}

.center-img {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1110px) {
    .header {
        display: none;
    }

    body {
        padding-top: 100px;
    }
}

@media (min-width: 1110px) {
    .header {
        margin-top: 5%;
        color: white;
        margin-bottom: 5%;
    }
}

a:hover {
    color: rgba(43, 175, 151, 1);
    text-decoration: none;
}
a:focus {
    color: #18252e;
}

a:active
{
    outline:none;
}

/* ~~~~~> End General <~~~~~ */


/* =====> Navbar <===== */

.navbar {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #18252e;
}

.dropdown-menu {
    background-color: #18252e;
    border: none;
    border-radius: 0;
}

.navbar-brand {
    max-height: 100%;
    height: 80%;
    padding-left: 20px !important;
    padding-top: 10px !important;

}

.navbar-burger {
    border: none;
    position: relative;
    top: 10px;
}

.navbar-toggle {
    border: none;
}

.navbar-collapse {
    border-top: none;
}

.navbar-nav > li:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ed7a21 !important;
}

.navbar-nav > li > a {
    position: relative;
    top: 10px;
    font-size: 20px;
    color: white !important;
}

.navbar-nav > li > a:focus {
    background-color: transparent !important;
}

.dropdown-menu > li > a {
    color: white !important;
}

.dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #ed7a21 !important;
}

.navbar-active {
    color: #ed7a21 !important;
}

@media (max-width: 1110px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .mobile-title {
        font-family: 'Dokyo', sans-serif;
        color: white !important;
    }
}

@media (min-width: 1110px) {
    .mobile-title {
        display: none;
    }
}

.navbar-nav > li > a {
    font-family: 'Circula-Medium', sans-serif !important;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ed7a21 !important;
    background-color: transparent !important;
}
ul > a:focus {
    color: purple;
}

/* ~~~~~> End Navbar <~~~~~ */


/* =====> Partenaire <===== */

.partnair-btn {
    background-color: rgba(43, 175, 151, 1);
    border: none;

}

@media (max-width: 1110px) {
    .partnair-logo {
        width: 100%;
        height: 75px;
    }
}

@media (min-width: 1110px) {
    .partnair-logo {
        width: 100%;
        height: 200px;
    }
}

/* ~~~~~> End Partners <~~~~~ */


/* =====> Accueil <===== */

@media (max-width: 1110px) {
    .home-prog {
        display: inline;
        font-size: 22px;
        text-decoration: none;
    }

    .home-progDiv {
        padding: 5%;
    }
}

@media (min-width: 1110px) {
    .home-prog {
        display: inline;
        font-size: 36px;
    }
}

.home-link {
    color: white;
    text-decoration: none;
}

.link-orange:hover {
    text-decoration: none;
    color: #ed7a21;
}

.link-turquoise:hover {
    text-decoration: none;
    color: #2baf97;
}

.home-ticket {
    color: white;
    font-size: 36px;
}

.logo-big {
    margin-left: auto;
    margin-right: auto;
}

@keyframes neon {
    0% {
        background-color: #989898;
        color: #004e57;
    }
    2% {
        background-color: white;
        color: #2baf97;
    }
    4% {
        background-color: #989898;
        color: #004e57;
    }
    10% {
        background-color: white;
        color: #2baf97;
    }
    14% {
        background-color: #989898;
        color: #004e57;
    }
    20% {
        background-color: white;
        color: #2baf97;
    }
    27% {
        background-color: #989898;
        color: #004e57;
    }
    40% {
        background-color: white;
        color: #2baf97;
    }
    89% {
        background-color: #989898;
        color: #004e57;
    }
    100% {
        background-color: white;
        color: #2baf97;
    }
}

@media (max-width: 1440px) {
    .panneau {
        font-size: 1em;
    }

    .right-text {
        font-size: 1.2em;
    }
}

@media (min-width: 1440px) {
    .panneau {
        font-size: 1.5em;
    }

    .right-text {
        font-size: 1.4px;
    }
}

.panneau {
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    width: 280px;
    padding-top: 3%;
    color: #2baf97;
    border: 2px solid #2baf97;
    box-shadow: -8px 2px #2baf97;
    transform: perspective(10em) rotateY(15deg);
    height: 50px;
    width: 15%;
    animation-name: neon;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
    animation-play-state: paused;
}

.panneau:hover {
    animation-play-state: running;
}

.ticket {
    margin-top: 5%;
}

@keyframes neonbis {
    0% {
        background-color: #989898;
        color: #a54d1e;
    }
    2% {
        background-color: white;
        color: #ed7a22;
    }
    4% {
        background-color: #989898;
        color: #a54d1e;
    }
    10% {
        background-color: white;
        color: #ed7a22;
    }
    14% {
        background-color: #989898;
        color: #a54d1e;
    }
    20% {
        background-color: white;
        color: #ed7a22;
    }
    27% {
        background-color: #989898;
        color: #a54d1e;
    }
    40% {
        background-color: white;
        color: #ed7a22;
    }
    89% {
        background-color: #989898;
        color: #a54d1e;
    }
    100% {
        background-color: white;
        color: #ed7a22;
    }
}

.col-ticket:nth-child(even) .panneau {
    color: #ed7a22;
    border: 2px solid #ed7a21;
    box-shadow: 8px 2px 0 #ed7a22;
    transform: perspective(10em) rotateY(-15deg);
    animation-name: neonbis;
    animation-duration: 0.15s;
    animation-iteration-count: 4;
}

.left-text {
    margin-left: 2%;
    margin-top: 0;
    border-top: 5px solid #004e57;
    border-bottom: 6px solid #004e57;

    padding-bottom: -3%;
    vertical-align: 10%;
}

.span-ticket:nth-child(even) .left-text {
    border-top: 6px solid #a54d1e;
    border-bottom: 6px solid #a54d1e;
}

.right-text {
    margin-right: 2%;
    font-size: 1.4em;
}

/* ~~~~~> End Accueil <~~~~~ */


/* =====> Footer <===== */

.footer {
    margin-top: 0;
    background-color: #18252e;
    padding-top: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    position: absolute;
}

.footer-top {
    padding: 1%;
}

.footer-bottom {
    padding: 1%;
}

.footer-legal {
    color: white;
    margin-bottom: 0;
}

.footer-last {
    padding-bottom: 150px;
}


@media (max-width: 1110px) {
    .footer-sponsor {
        background-color: white;
        border-radius: 20px;
        color: #004e57;
        border: 2px solid #2baf97;
        box-shadow: 2px 2px 0 #017553;
        width: 100%;
        height: 75px;
    }

    #ecole-logo {
        margin-top: 30%;
    }
}

@media (min-width: 1110px) {
    .footer-sponsor {
        background-color: white;
        border-radius: 20px;
        color: #004e57;
        border: 2px solid #2baf97;
        box-shadow: 3px 3px 0 #017553;
        width: 100%;
        height: 200px;
    }

    #ecole-logo {
        margin-top: 17.5%;
    }
}

/* ~~~~~> End Footer <~~~~~ */


/* =====> Programmation <===== */

@media (max-width: 1110px) {
    .prog-dropdown {
        display: inline;
        margin: 0;
    }
}

@media (min-width: 1110px) {
    .prog-dropdown {
        display: inline;
        margin: 5%;
    }
}

.filter-btn {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    background-color: #18252e;
    border-radius: 5px;
    border: none;
}

.filter-list {
    background-color: #18252e;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    color: #18252e;
}

.prog-artist {
    height: 350px;
}

.prog-img {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.prog-info {
    margin-top: 5%;
}

.info-text {
    font-family: 'Circula-Medium', sans-serif;
    font-size: 24px;
    color: white;
}
.info-text2{
    font-family: 'Circula-Medium', sans-serif;
    font-size: 24px;
    color: white;
    padding-bottom: 5%;
}

.prog-filter a:hover {
    color: #ed7a21 !important;
}

.prog-cancel {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 10%;
    color: #ed7a21;
}

.img-cancel {
    opacity: 0.25;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 70px;
    overflow: hidden;
    width: 190px;
    color: white;
    font-size: 20px;
    padding: 4px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 25px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 170px;
    margin-left: 13px;
    margin-bottom: 20px;


}
.btn-filtre {
    padding: 8px;
}
.blue {
    background-color: #18252e;
}
select {
    -moz-appearance: none;
}
.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
a:active
{
    outline:none;
}


/* ~~~~~> End Programmation <~~~~~ */


/* =====> Artist <===== */
.tag_artist {
    display: inline;
}

.prog_hour {
    font-size: 28px;
}

.prog_place a:hover {
    color: #ed7a21 !important;
}

.showcase {
    font-size: 25px;
}

.social-logo {
    font-size: 40px;
    margin: 3%;
    color: white;
}

.upper {
    text-transform: capitalize;
}

/* ~~~~~> End Artist <~~~~~ */


/* =====> Planning <===== */

.planning {
    margin-bottom: 5%;
}

.planning-location {
    color: white;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.planning-show {
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Bebas', bold;
    text-align: center;
    font-size: 1.3em;
    width: 20%;
    padding: 3%;
    margin-top: 15px;
    color: #004e57;
    border: 2px solid #2baf97;
    box-shadow: 2px 2px #2baf97;
    height: 130px;

}

.planning-show:hover {
    transform: perspective(10em) rotateY(-15deg);

}

.col-lieu:nth-child(even) .planning-show {
    padding-top: 3%;
    color: #a54d1e;
    border: 2px solid #ed7a21;
    box-shadow: 3px 3px 0 #ed7a22;
}

.planning-showSmall {
    color: white;
    text-align: center;
    font-size: 24px;
}

.planning-locationSmall {
    color: white;
    text-align: center;
    font-size: 28px;
}

.planning-collapse {
    background-color: transparent;
}

.collapse-content {
    background-color: transparent;
}

@media (max-width: 1110px) {
    .planning-link {
        font-size: 11vw;
        color: white;
        text-decoration: none;
    }
}

@media (min-width: 1110px) {
    .planning-link {
        font-size: 7.5vw;
        color: white;
        text-decoration: none;
    }
}

.planning-link:hover {
    text-decoration: none;
    color: #ed7a21;
}

.planning-link:focus {
    text-decoration: none;
    color: #ed7a21;
}

.planning-cancel {
    padding-top: 3% !important;
    background-color: rgba(0, 0, 0, 0.5) ! important;
    color: #ed7a21 !important;
}

.plan-cancel {
    color: #ed7a21;
    font-size: medium;
    font-weight: 100;
    margin: 5%;
}

.plan-cancel-xs {
    color: #ed7a21;
    font-size: 28px;
    font-weight: 100;
    margin: 0;
}

.cancel-hidden {
    display: none;
}

.artist {
    margin-bottom: 8%;
    margin-top: 5%;
    font-size: 1.6em;
    line-height: 100%;
}

.heure {
    border-top: 3px solid #004e57;
    border-bottom: 3px solid #004e57;
    font-size: 0.8em;
}

.bordercolor:nth-child(even) .heure {
    border-top: 3px solid #a54d1e;
    border-bottom: 3px solid #a54d1e;
}

/* ~~~~~> End Planning <~~~~~ */


/* =====> Volunteer <===== */
.volunteer_btn {
    text-align: center;
    display: inline-block;
}
.benevolat-div {
    color: white;
    font-size: 18px;
}

.benevolat-div {
    margin-top: 5%;
    color: white;
    font-size: 1.7em;
}
.intro {
    margin-top: 7%;
    margin-bottom: 7%;
}
.font {
    font-size: 3em;
}
.titre{
    font-weight: bold;
    font-size: 1.2em;
}
.titre2 {
    font-size: 2em;
}
.activites {
    margin-top: 5%;
    margin-bottom: 5%;
}
/* ~~~~~> End Volunteer <~~~~~ */


/* =====> Venir <===== */

.venir-icon {
    font-size: 36px;
}

/* ~~~~~> End Venir <~~~~~ */


/* =====> Contact <===== */
.contact-btn {
    color: white;
    background-color: #2baf97;
    border: none;
}

/* ~~~~~> End Contact <~~~~~ */



/* =====> News <===== */
.breaking-news {
    background-color: rgba(237, 122, 33, 1);
    border: none;
    color: white;
}

.breaking-close {
    color: #18252e;
}

.breaking-strong {
    font-size: 24px;
    color: white;
    text-decoration: underline;
}

.breaking-text {
    font-size: 18px;
}

.news-link {
    color: white;
}

.news-all {
    font-size: 24px;
}

/* ~~~~~> End News <~~~~~ */

/* =====> Food <===== */

.food-info {
    font-size: 16px;
}

/* ~~~~~> End Food <~~~~~ */

/* =====> Places <===== */


/* =====> End Places <===== */
