{% extends "base.html.twig" %}
{% block title %}Hop Pop Hop{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for i in range(0,2) %}
                <div class="col-xs-12 col-xs-offset-0 col-sm-4">
                    <div class="content-div text-justify">
                        <img src="../../../web/img/chuck.png" class="img-responsive">
                        <h2 class="font-circula">{{ title }}</h2>
                        <hr class="hr">
                        <p>{{ text }}</p>
                    </div>
                    <br />
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}