{% extends "base.html.twig" %}
{% block title %}News{% endblock %}
{% block titleMobile %}News{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {%  for news in newsAll %}
                <div class="col-xs-12 col-xs-offset-0 col-sm-4">
                    <div class="content-div text-justify">
                        <img src="../../../web/img/{{ news.image }}" class="img-responsive">
                        <a href="index.php?page=newsOne&id={{ news.id }}" class="news-link"><h2 class="font-circula">{{ news.title }}</h2></a>
                        <hr class="hr">
                        <p>{{ news.text }}</p>
                    </div>
                    <br />
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}