{% extends "base.html.twig" %}
{% block title %}Planning{% endblock %}
{% block titleMobile %}Planning{% endblock %}
{% block content %}
   <div class="container text-center">
       {% for i in range(15,16) %}
           {% if i==15 %}
               <h1 class="separator-title hidden-sm hidden-xs font-dokyo">VENDREDI</h1>
           {% else %}
               <h1 class="separator-title hidden-sm hidden-xs font-dokyo">SAMEDI</h1>
           {% endif %}
           <hr class="hr hidden-xs hidden-sm">
           <br />
            <div class="row">
            {% for place in place %}
               <div class="col-md-2 hidden-sm hidden-xs">
                   <h3 class="planning-location font-circula">{{ place.name }}</h3>
               </div>
            </div>
            <div class="row">
               <div class="col-md-2 hidden-sm hidden-xs">
                  {% for placeName in planning  %}
                  <div class="planning-show show-blue font-default"><p>{{ planning.artistName }}<br/>
                                   {{ planning.concertStart|date("h:i") }}-{{ planning.concertEnd|date("h:i") }}
                  </div>
               </div>
                   {% endfor %}
               {% endfor %}
               </div>
            {% endfor %}
       {% endfor %}
   </div>
{% endblock %}