<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../../../../web/font-awesome/css/font-awesome.min.css">
    <link href="../../../../web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../web/css/style.css" rel="stylesheet">
    <link href="../../../web/img/logo-min.png" rel="icon">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <a href="../../../../index.php"><img src="../../../../web/img/global/logo-min.png" class="navbar-brand"></a>
            <button type="button" class="navbar-toggle collapsed navbar-burger" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="navbar-text mobile-title">{% block titleMobile %}{% endblock %}</h1>
        </div>
        <div class="collapse navbar-collapse navbar-menu" id="navbar-collapsed">
            <ul class="nav navbar-nav navbar-list">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programmation <span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-dropdown">
                        <li><a href="../../../../index.php?page=programmation">Artistes</a></li>
                        <li><a href="../../../../index.php?page=planning">Planning</a></li>
                    </ul>
                </li>
                <!-- class active -->
                <li><a href="../../../../index.php?page=billetterie">Billetterie</a></li>
                <li><a href="../../../../index.php?page=cashless">Cashless</a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">La vie au festival <span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-dropdown">
                        <li><a href="../../../../index.php?page=food">Se restaurer</a></li>
                        <li><a href="../../../../index.php?page=place" id="placeLink">Lieux</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Infos Pratiques <span class="caret"></span></a>
                    <ul class="dropdown-menu navbar-dropdown">
                        <li><a href="../../../../index.php?page=volunteer">Bénévolat</a></li>
                        <li><a href="../../../../index.php?page=transport">Comment venir</a></li>
                        <li><a href="../../../../index.php?page=dimaorl">Dimanche à Orléans</a></li>
                    </ul>
                </li>
                <li><a href="../../../../index.php?page=partner">Partenaires</a></li>
                <li><a href="../../../../index.php?page=contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right social hidden-xs">
                <li><a href="#"><i class="fa fa-facebook-square navbar-logo" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square navbar-logo" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram navbar-logo" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-spotify navbar-logo" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-square navbar-logo" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 col-xs-4">
                    <a href="#" class="thumbnail thumbnail-div footer-sponsor">
                        <img src="../../../../web/img/partner/adami.png" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-3 col-xs-4">
                    <a href="#" class="thumbnail thumbnail-div footer-sponsor">
                        <img src="../../../../web/img/partner/cnv.png" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-3 col-xs-4">
                    <a href="#" class="thumbnail thumbnail-div footer-sponsor">
                        <img src="../../../../web/img/partner/creditmut.png" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-3 col-xs-4">
                    <a href="#" class="thumbnail thumbnail-div footer-sponsor">
                        <img src="../../../../web/img/partner/loiret.png" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-3 col-xs-4">
                    <a href="#" class="thumbnail thumbnail-div footer-sponsor">
                        <img src="../../../../web/img/partner/orleans.png" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-3 col-xs-4">
                    <a href="#" class="thumbnail thumbnail-div footer-sponsor">
                        <img src="../../../../web/img/partner/region.png" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-3 col-md-offset-0 col-xs-4  col-xs-offset-2">
                    <a href="#" class="thumbnail thumbnail-div footer-sponsor">
                        <img src="../../../../web/img/partner/sacem.png" class="img-responsive">
                    </a>
                </div>
                <div class="col-md-3 col-md-offset-0 col-xs-4">
                    <a href="#" class="thumbnail thumbnail-div footer-sponsor">
                        <img src="../../../../web/img/partner/ecole.png" class="img-responsive" id="ecole-logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center visible-xs">
        <i class="fa fa-facebook-square social-logo" aria-hidden="true"></i>
        <i class="fa fa-twitter-square social-logo" aria-hidden="true"></i>
        <i class="fa fa-instagram social-logo" aria-hidden="true"></i>
        <i class="fa fa-spotify social-logo" aria-hidden="true"></i>
        <i class="fa fa-youtube-square social-logo" aria-hidden="true"></i>
    </div>
    <div class="footer-last text-center">
        <p class="footer-legal">Mentions Légales</p>
    </div>
</footer>
<script src="../../../../web/js/jquery-3.1.1.min.js"></script>
<script src="../../../../web/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../../web/js/script.js"></script>
</body>
</html>