<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../web/font-awesome/css/font-awesome.min.css">
    <link href="../web/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../web/css/admin.css" rel="stylesheet">
    <link href="../web/img/global/logo-min.png" rel="icon">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header text-center">
            <a href="index.php"><img src="../web/img/global/logo-min.png" class="navbar-brand"></a>
            <button type="button" class="navbar-toggle collapsed navbar-burger" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menu" id="navbar-collapsed">
            <ul class="nav navbar-nav navbar-list">
                <li><a href="index.php?page=artist">Gestion des artistes</a></li>
                <li><a href="index.php?page=place">Gestion des lieux</a></li>
                <li><a href="index.php?page=concert">Gestion des concerts</a></li>
                <li><a href="index.php?page=news">Gestion des actualités</a></li>
                <li><a href="index.php?page=food">Gestion des foodtrucks</a></li>
                <li><a href="index.php?page=partner">Gestion des partenaires</a></li>
                <li><a href="index.php?page=sunday">Gestion des activités</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}

{% endblock %}
<script src="../web/js/jquery-3.1.1.min.js"></script>
<script src="../web/bootstrap/js/bootstrap.min.js"></script>
<script src="../web/js/script.js"></script>
</body>
</html>