{% if error==2 %}
    <div class="alert alert-danger" role="alert">Le nom ou le lien d'un lieu doit être une chaîne de caractères</div>
{% elseif error==3 %}
    <div class="alert alert-danger" role="alert">La taille du nom d'un lieu ne peut pas dépasser 30 caractères</div>
{% elseif error==0 %}
    <div class="alert alert-danger" role="alert">Une erreur s'est produite</div>
{% elseif error==4 %}
    <div class="alert alert-danger" role="alert">L'extension n'est pas valide</div>
{% elseif error==5 %}
    <div class="alert alert-danger" role="alert">La taille de l'image est trop élevé</div>
{% elseif error==6 %}
    <div class="alert alert-danger" role="alert">Le poids de l'image est trop élevé</div>
{% elseif error==7 %}
    <div class="alert alert-danger" role="alert">Le format de la date est incorrect</div>
{% elseif error==8 %}
    <div class="alert alert-danger" role="alert">Le format du lien du lieu est invalide</div>
{% elseif error==10 %}
    <div class="alert alert-danger" role="alert">Les champs requis doivent êtres remplis</div>
{% endif %}