{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>Bienvenue sur la page d'administration du site Hop Pop Hop</h1>
        <p>Vous pouvez administrer les artistes, lieux, concerts, actualités, foodtruck et partenaire du site</p>
    </div>
{% endblock %}