{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Bienvenue sur la page d'administration du site Hop Pop Hop</h1>
            <p>Vous pouvez administrer les artistes, lieux, concerts, actualités, foodtrucks, activités du dimanche et partenaires du site</p>
            <p><a class="btn btn-primary btn-lg" href=".././../../../index.php" role="button">Retourner au site</a></p>
        </div>
    </div>
{% endblock %}