{% extends "base.html.twig" %}
{% block title %}Administration{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>Bienvenue sur la page d'administration du site Hop Pop Hop</h1>
        <p>Vous pouvez administrer les artistes, lieux, concerts, actualités, foodtruck et partenaire du site</p>
        <p>Le fichier admin.php a un système de route identique à index.php. La seul différence est que quand on appel un controller dans le fichier admin.php (par exemple HomeController), il faut lui passer en paramêtre 'back' afin qu'il sache qu'il doit afficher les vues du backfront Il faut du coup dans chaque controller créer une méthode renderAdmin (ou vous l'appelez comme vous voulez) qui se chargera d'afficher le contenu sur la page admin.</p>
    </div>
{% endblock %}