<p class="help-block">
    Informations : <br />
    Hauteur maximale : 450px, <br />
    Largeur maximale : 500px, <br />
    Poids maximal :  1 Mo, <br />
    Extensions authorisées : jpg, jpeg, png, gif
</p>