/*Général*/
@import url("styleplanning.css");
body {
    background: url("../img/background.png") center center  no-repeat fixed;
    background-size: cover;
    position: relative;
    padding-top: 70px;
}

@font-face {
    font-family: 'Circula-Medium';
    src: url('../fonts/circula-medium.otf');
}
@font-face {
    font-family: 'Dokyo';
    src: url('../fonts/Dokyo.ttf');
}
* {
    font-family: 'Circula-Medium', sans-serif;
}
h1 {
    font-family: 'Dokyo', sans-serif;
}

p {
    font-family: sans-serif;
}

/*Navbar*/

.navbar {
    border: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background-color: #18252e;
}
.dropdown-menu {
    background-color: #18252e;
    border: none;
    border-radius: 0;
}
.navbar-toggle {
    border: none;
}
.navbar-collapse{
    border-top: none;
}
.navbar-nav > li:hover {
    background-color: white;
}
.navbar-nav > li > a {
    color: white!important;
}
.navbar-nav > li > a:hover {
    color: #18252e!important;
}
.dropdown-menu > li > a {
    color: white!important;
}
.dropdown-menu > li > a:hover {
    background-color: white;
    color: #18252e!important;
}

/*Fin Navbar */

/*Footer*/

.footer {

}
.footer_top {
    background-color: rgba(24, 37, 46, 1);
}
.footer_bottom {
    background-color: rgba(90, 195, 152, 1);
}
.footer_title {
    color: white;
}
.footer_legal {
    color: white;
    margin-bottom: 1%;
}
.footer_sponsor {
    height: 50px;
    max-width: 150px;
    margin: 5%;
}
.footer_social {
    width: 50px;
    height: 50px;
    margin: 5%;
}

/*Fin Footer*/

/*Fin Général */

/*Welcome */

.welcome_buttonLeft {
    position: absolute;
    left: 30%;
    margin-top: 45%;
}
.welcome_buttonRight {
    position: absolute;
    right: 35%;
    margin-top: 45%;
}
.welcome_div {
    /*background-color: rgba(141, 189, 69, 0.5);*/
    background-color: rgba(90, 195, 152, 0.5);
    /*background-color: rgba(234, 230, 247, 0.5);*/
    padding: 5%;
}
.welcome_divTitle {
    background-color: rgba(24, 37, 46, 0.75);
    margin-top: 0;
    padding: 1%;
}
.welcome_divH1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 10vw;
    color: white;
}
.welcome_newsDiv {
    background-color: white;
    height: 575px;
    padding: 5%;
    border: 5px solid rgba(90, 195, 152, 1);
    margin-bottom: 1%;
}
.welcome_newsH1 {
    color: rgb(90, 195, 152);
}
.welcome_newsHR {
    border: 1px solid rgba(90, 195, 152, 1);
}
.welcome_newsP {

}


/* ---- Partie css page programmation  ---- */


/* -- style header -- */

.headerprog{
    height: 240px;
    /*background-color: rgba(24, 37, 46, 0.85);     !* Fond bleu foncé *!*/
    /*background-color: rgba(90, 195, 152, 0.85);     !* Fond bleu cyan *!*!*/
    /*border-bottom: 3px solid rgba(237, 122, 33, 0.75);*/
    /*border-bottom: 2px solid rgba(90, 195, 152, 1);*/
    position: relative;
    top:-20px;
    display:none;

}


/* -- style zone filtre -- */

.filtreprog {
    /*background-color: rgba(141, 189, 69, 0.85); !* Fond vert clair *!*/
    /*background-color: rgba(90, 195, 152, 0.85); !* Fond bleu cyan *!*/
    background-color: rgba(24, 37, 46, 0.85);
    position: relative;
    top:-20px;
}

.titletri {
    color: #ffffff;
    position: relative;
    top:-3px;
    font-size: 2em;
}

.btntri {
    text-decoration: none;
    color: #ffffff;
    font-size: 2.4em;
    background-color: rgba(237, 122, 33, 1);
    position: relative;
    margin-top: auto;
    margin-bottom: auto;

}

.listtri {
 background-color: rgba(90, 195, 152, 0.85);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}


/* -- style image + sous-titre -- */

.itemx {
    margin: 50px;
}


/*Fin Welcome*/

/*Lieux*/

.lieux_title {
    color: white;
}

.lieux_thumbnail {
    background-color: transparent;
    border: none;
    height: 200px;
}
/*Fin Lieux*/

/*Food*/
.food_div {
    background-color: white;
    padding: 1%;
    border: 5px solid rgba(90, 195, 152, 1);
    margin-bottom: 1%;
}

.food_hr {
    border: 1px solid rgba(90, 195, 152, 1);
}

/*Fin Food*/

/* -- style image seule -- */

.itemx img {
    /*border: 3px solid rgba(90, 195, 152, 1);*/
    /*border: 3px solid rgba(237, 122, 33, 1);*/
    /*box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;*/
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

/* -- style bloc sous-titre -- */

.labelx {
    /*background-color: rgba(90, 195, 152, 1);*/        /*couleur fond bleu cyan*/
    background-color: rgba(24, 37, 46, 1);      /*couleur fond bleu foncé*/
    width:180px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -20px;
    height:50px;
    color: #ffffff;
    /*border: 3px solid rgba(90, 195, 152, 1);       !* bordure cyan *!*/
    border: 3px solid rgba(237, 122, 33, 1);        /* bordure orange */
    /*border: 3px solid rgba(24, 37, 46, 1); */         /* bordure bleu foncé */
    /*border: 3px solid rgba(141, 189, 69, 1);          !* bordure vert clair *!*/
    /*box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;*/
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);

}

/* -- style nom de l'artiste -- */

.layoutartiste {
    font-size: 1.5em;
    font-family: 'Dokyo', sans-serif;

}

/* -- style date -- */

.layoutag {
    position: relative;
    top: -16px;
}

@media all (max-width: 1280px) {
    
}
