{% extends "base.html.twig" %}
{% block title %}Contact{% endblock %}
{% block titleMobile %}CONTACT{% endblock %}
{% block content %}
    <div class="container contact-content">
        <div class="col-md-offset-3 col-md-6">
            <div class="form-area">
                {% if msg == 1 %}
                    <div class="alert alert-success" role="alert">
                        <p>Votre message a été envoyé avec succès. Nous vous répondrons dans les plus bref délais.</p>
                    </div>
                {% elseif msg == 0 %}
                    <div class="alert alert-danger" role="alert">
                        <p>Une erreur a eu lieu lors de l'envoi de votre message</p>
                    </div>
                {% endif %}
                <form method="POST" action="index.php?page=mail">
                    <h1 class="orange font-circula text-center">Nous contacter</h1>
                    <div class="form-group">
                        <label for="name" class="white">Votre nom</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Entrez votre nom" required>
                    </div>
                    <div class="form-group">
                        <label for="email" class="white">Votre e-mail</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre e-mail" required>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="white">Le sujet de votre e-mail</label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Entrez le sujet de votre e-mail" required>
                    </div>
                    <div class="form-group">
                        <label for="text" class="white">Votre message</label>
                        <textarea class="form-control" id="text" name="text" placeholder="Entrez le texte de votre message" rows="10" required></textarea>
                    </div>
                    <div class="text-center">
                        <input type="submit" id="submit" name="submit" class="btn btn-default contact-btn" value="Envoyez votre message">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}