{% extends "base.html.twig" %}
{% block title %}Dimanche à Orléans{% endblock %}
{% block titleMobile %}DIMANCHE{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {%  for sunday in sundays %}
            <div class="col-xs-12 col-xs-offset-0 col-sm-4">
                <div class="content-div text-justify">
                    <div class="text-center">
                        <img src="img/sunday/{{ sunday.imgSunday }}" class="img-responsive">
                    </div>
                    <h2 class="news-title font-circula">{{ sunday.title }}</h2>
                    <hr class="hr">
                    <p>{{ sunday.content }}</p>
                </div>
                <br />
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}