{% extends "base.html.twig" %}
{% block title %}News{% endblock %}
{% block titleMobile %}NEWS{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for news in newsAll %}
                <div class="col-xs-12 col-xs-offset-0 col-sm-4">
                    <div class="content-div text-justify">
                        <div class="text-center">
                            <img src="img/news/{{ news.imgNews }}" class="img-responsive">
                        </div>
                        <a href="/newsOne/{{ news.id }}" class="news-link"><h2 class="font-circula">{{ news.title }}</h2></a>
                        <hr class="hr">
                        <p>{{ news.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}