{% extends "base.html.twig" %}
{% block title %}Comment venir{% endblock %}
{% block titleMobile %}VENIR{% endblock %}
{% block content %}
    <div class="container text-center">
        <div class="content-div">
            <i class="fa fa-map-o venir-icon" aria-hidden="true"></i>
            <h1>COMMENT VENIR SUR HOP POP HOP ?</h1>
            <p>À pied, en vélo, en train, en voiture, en bus… vous avez sans doute votre façon pour venir au festival !
                Situé en plein centre-ville d’Orléans, les 6 lieux de concerts du festival sont accessibles à moins de 5
                minutes à pied les uns des autres.</p>
            <hr class="hr">
            <i class="fa fa-bus venir-icon" aria-hidden="true"></i>
            <h2>EN TRANSPORT EN COMMUN</h2>
            <p>Station de tram la plus proche : Cathédrale – Hôtel de ville (Tram B) Arrêt de bus : Cathédrale (Ligne
                O)
                <br/>Plus d'infos : <a href="http://www.reseau-tao.fr/" class="turquoise bold">TAO</a>
            </p>
            <hr class="hr">
            <i class="fa fa-bicycle venir-icon" aria-hidden="true"></i>
            <h2>EN VELO</h2>
            <p>Des stationnements vélo se trouvent à proximité du jardin de l’Evêché, du
                108 et de la Scène nationale.<br> Plusieurs bornes Vélo + sont aussi à proximité des lieux du festival.
            </p>
            <hr class="hr">
            <i class="fa fa-car venir-icon" aria-hidden="true"></i>
            <h2>EN COVOITURAGE</h2>
            <p>Organisez votre voyage avec le site <a href="" class="turquoise bold">TAWA</a></p>
            <hr class="hr">
            <i class="fa fa-train venir-icon" aria-hidden="true"></i>
            <h2>EN TRAIN</h2>
            <p>La gare d’Orléans est située à 10 minutes à pied du jardin de l’Evêché, liaisons régulière depuis Paris,
                Tours, Blois, Bourges, etc… <br/>Plus d’infos : <a href="http://www.voyages-sncf.com/"
                                                                   class="turquoise bold">SNCF</a></p>
        </div>
    </div>
{% endblock %}