{% extends "base.html.twig" %}
{% block title %}Bénévolat{% endblock %}
{% block titleMobile %}BENEVOLAT{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="benevolat-div ">
                <h1 class="text-center font-circula font">DEVENEZ BÉNÉVOLE DU FESTIVAL !</h1>
                <div class="intro font-bebas">
                    <p>Pour quelques heures ou pour une vie, habile, jovial, dynamique, en vieux briscard de la bricole
                        ou de la débrouille, prenez part à ce projet et apportez votre pierre à l&rsquo;édifice !</p>
                    <br>
                    <p>Accessible à tous : Devenez acteur du festival en participant à des missions simples et concrètes
                        (il faut obligatoirement être majeur pour être bénévole sur le festival).</p>
                    <p>Convivial : Seul(e) ou entre amis(es), c&rsquo;est un bon moyen de joindre l&rsquo;utile à l&rsquo;agréable.</p>
                    <p>Faites votre demande : remplissez le formulaire ci-dessous, toute demande incomplète ne pourra
                        être traitée.</p>
                    <p><strong>Merci de ne vous inscrire qu’une seule fois.</strong></p>
                    <p><i>En cas de forte affluence, nous ne garantissons pas de pouvoir répondre favorablement à toutes
                            les demandes de bénévolat.</i></p>
                </div>

                <hr class="hr">

                <h2 class="font-circula titre2">Les grandes activités auxquelles vous pouvez participer :</h2>
                <div class="activites">
                    <h3><span class="titre">Avant le festival</span></h3><br>
                    <p><strong>WORKSHOP SCÉNOGRAPHIE</strong> : Si tu es doué de tes dix doigts, viens réaliser avec
                        nous les derniers
                        éléments de déco qui embelliront le site. Les ateliers auront lieu en soirée, à l'Astrolabe, une
                        quinzaine de jours avant le festival.
                    </p>
                    <p><strong>AMÉNAGEMENT DU SITE</strong> : pendant 5 jours, tout le monde s’active pour donner vie au
                        festival.<br>
                    <ul>
                        <li>Montage des structures / tentes : si le gros œuvre ne te fait pas peur, cette mission est
                            pour
                            toi
                        </li>
                        <li>Montage de la décoration: installation des éléments de décorations (conforts et visuels)
                            réalisés par la dream-team bénévoles de l'Astrolabe.
                        </li>
                        <li>Montage des bars: à partir du mercredi matin 13 septembre et jusqu'au jeudi sur les
                            différents
                            sites du festival
                        </li>
                    </ul>
                </div>
                <div class="activites">
                    <h3><span class="titre">Pendant le festival</span></h3><br>
                    <p>Il est important d’être disponible les deux jours du festival</p>
                    <ul>
                        <li>Bar : vous servez les clients, vous vous occupez des stocks boissons, des stocks gobelets
                            réutilisables.
                        </li>
                        <li>Cashless : vous vendez et créditez les cartes de paiement pour les bars, foodtruck. Vous
                            renseignez le public sur le fonctionnement.
                        </li>
                        <li>Billeterie : vous vendez les billets pour le festival, donnez les bracelets d’accès et
                            les cartes cashless aux festivaliers et vous accueillez les invités et partenaires.
                        </li>
                        <li>Accueil point info : vous informez et orientez le public.</li>
                        <li>Accueil bénévoles : vous accueillez, guidez et répondez aux questions des bénévoles. Vous
                            êtes également l'interface avec l’équipe de production.
                        </li>
                        <li>Merchandising : vous vendez les articles du festival et des groupes.</li>
                        <li>Green Team : vous sensibilisez le public au tri sélectif, vous gérez les déchets.</li>
                        <li>Espace restauration Artistes : vous mettez en place le buffet, réapprovisionner les plats,
                            vaisselle, etc…
                        </li>
                        <li>Accueil artiste : vous prenez en charge l’artiste de son arrivée à son départ, vous préparez
                            et rangez les loges.
                        </li>
                        <li>Traducteur média: vous traduisez les interviews.</li>
                        <li>Relations Presse : vous êtes en charge des artistes lors des interview (les guider vers
                            l'espace presse, gérer leur intervention en lien avec l’attaché de presse)
                        </li>
                        <li>Réseaux sociaux : vous alimentez les réseaux sociaux du festival sur les 2 jours (photos,
                            vidéo, gif, etc...) En lien avec le chargé de communication et l’équipe vidéo / photos.
                        </li>
                    </ul>
                </div>
                <div class="activites">
                    <h3><span class="titre">Après le Festival</span></h3><br>
                    <p>Démontage du site : à partir du dimanche après-midi jusqu'au mercredi 20 septembre.</p>
                </div>
                <hr class="hr">

                <div class="activites">
                    <p>Faites votre demande : remplissez le formulaire ci-dessous, toute demande incomplète ne pourra
                        être traitée.</p>
                </div>
            </div>
            <div class="text-center">
                <a href="/contact">
                    <button class="btn btn-primary contact-btn volunteer-btn">Devenez Bénévole</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}