/*Général*/

body {
    background: url("../src/img/background.png") center center  no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 70px;
}

.hr {
    width: 80%;
    border-color: #18252e;
}
/*Navbar*/

.navbar_nav {
    border: none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background-color: transparent;
}
.navbar_color {
    background-color: #18252e;
}
@media (max-width: 768px) {
    .navbar_collapse {
        background-color: #18252e;
    }
}
.navbar_dropdown {
    background-color: #18252e;
    border: none;
    border-radius: 0;
}
.navbar_logo {
}
.navbar_title {
    display: inline;
    color: white;
    line-height: 24px;
}
.navbar_collapseButton {
    border: none;
}
.navbar_collapse{
    border-top: none;
}
.navbar_title {
    color: white;
}

/*Fin Navbar */


/*Page Artiste*/

.artistdescr {
    color: rgba(0, 0, 0, 1);
    border: 3px solid #ed7a21;
    background-color: whitesmoke;
    text-align: center;
    height: 100%;
}

.artistprog {
    color: rgba(43, 175, 151, 1);
    border: 1px #ed7a21;
    background-color: whitesmoke;
    min-height: 300px;
    font-size: 22px;
    text-align: center;
    margin: 15px;
    padding-top: 40px;
}
.artistvid {
    margin: 10px;
    border: 3px solid rgba(255, 255, 255, 1);
}
.artistvidmob{
    border: 3px solid rgba(255, 255, 255, 1);
}
.blocBas{
    margin-top: 20px;
}
.logosoc{
    text-align: center;
}
.logosocmob {
    text-align: center;
}
/*Fin Page Artiste

/*Footer*/

.footer {

}
.footer_title {
    color: white;
}
.footer_img {
    height: 30px;
    width: 30px;
    margin: 5%;
}
.footer_legal {
    color: white;
}

/*Fin Footer*/

/*Fin Général */

/*Welcome */

.welcome_navRow {
    margin-top: 5%;
    margin-bottom: 5%;
}
.welcome_newsDiv {
    color: #ed7a21;
    padding:0;
    background-color: white;
    padding: none;
}
.welcome_newsH1 {
}
.welcome_newsP {

}